html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

	header {
		background-color: #2c3950;
	}

h1 {
	background-color: #1a2230;
	text-align: center;
	color: white;
	padding: 20px;
}

.body {
width: 320px;
}

.brain{
width: 46px;
}

.head-l, .head-r{
width: 125px;
}


