html {
	  box-sizing: border-box;
	}

	*, *::before, *::after {
	  box-sizing: inherit;
	}

body{
	margin:0;
}

	header {
		background-color: #2c3950;
		padding-top: 3em;
	}

h1 {
	background-color: #1a2230;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: 'Contrail One', cursive;
}

.body {
width: 320px;
}

.brain{
width: 46px;
position: absolute;
left: 4em;
top: 10px;
}

.head-l {
	width: 125px;
	position: absolute;
	top: 10px;
}

.head-r{
width: 125px;
position: absolute;
top: 10px;

}

.robot {
	position: relative;
	overflow: hidden;
	width: 320px;

}
